@import '../../stylesheets/typogaphy';
@import '../../stylesheets/spacing';

.resultHeading {
  @extend .baseFont;
  font-size: $fontSizeLarge;

  span {
    font-weight: normal;
  }
}

.resultList {
  list-style: none;
  margin: $baseSpacing 0;
  padding: 0;

  > li + li {
    margin-top: $baseSpacingS;
  }

  > li:nth-child(even) {
    background-color: $lightBgr;
  }
}
